.code {
    display: flex;
    position: relative;
    align-items: center;
    cursor: copy;
    border: 1px solid var(--gray3);
    border-radius: 6px;
    background: linear-gradient(to top, var(--gray2), var(--gray1) 8px);
    padding: 0 62px 0 12px;
    height: 40px;
    color: var(--gray12);
    font-size: 14px;
    font-family: var(--font-mono);
}

.copy {
    display: flex;
    position: absolute;
    top: 50%;
    right: 6px;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    border: 1px solid var(--gray4);
    border-radius: 50%;
    border-radius: 5px;
    background: #fff;
    width: 26px;
    height: 26px;
    color: var(--gray12);
}

.copy div {
    display: flex;
}
