[data-soner-toaster] {
    --width: 356px;
    --gray1: hsl(0, 0%, 99%);
    --gray2: hsl(0, 0%, 97.3%);
    --gray3: hsl(0, 0%, 95.1%);
    --gray4: hsl(0, 0%, 93%);
    --gray5: hsl(0, 0%, 90.9%);
    --gray6: hsl(0, 0%, 88.7%);
    --gray7: hsl(0, 0%, 85.8%);
    --gray8: hsl(0, 0%, 78%);
    --gray9: hsl(0, 0%, 56.1%);
    --gray10: hsl(0, 0%, 52.3%);
    --gray11: hsl(0, 0%, 43.5%);
    --gray12: hsl(0, 0%, 9%);
    --border-radius: 8px;
    --normal-bg: #fff;

    position: fixed;
    z-index: 999999;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: var(--width);
    color: black;
    list-style: none;
    user-select: none;

    // expand
    &[data-expand='false'] {
        [data-sonner-toast]:not(:last-child) {
            transform: scale(calc(1 - var(--index) * 0.05)) translateY(calc(var(--lift) * var(--gap) * var(--index)));
        }
        [data-sonner-toast]:not(:last-child) {
            height: var(--front-height);
            &[data-state='deleting'] {
                transform: scale(calc(1 - var(--index) * 0.05));
            }
            & > * {
                opacity: 0;
                transition: opacity 0.4s;
            }
        }
    }
}

[data-sonner-toast] {
    display: flex;
    position: absolute;
    align-items: center;
    transform: translateY(calc(var(--lift) * var(--offset, 0px)));
    opacity: var(--opacity);
    transition:
        transform 0.4s,
        opacity 0.2s,
        height 0.4s;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid hsl(0, 0%, 93%);
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    width: var(--width);
    height: var(--init-height);

    &:after {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: calc(var(--gap) + 1px);
        content: '';
    }

    [data-icon] {
        display: flex;
        margin-right: 7px;
    }

    [data-content] {
        [data-title] {
            color: #222;
            font-weight: 500;
            font-size: 13px;
        }
        [data-description] {
            margin-top: 5px;
            color: #888;
            font-size: 12px;
        }
    }
}

// position
[data-soner-toaster] {
    &[data-position*='top'] {
        --lift: 1;
        top: var(--offset);
        [data-sonner-toast] {
            top: 0;
        }
    }
    &[data-position*='bottom'] {
        --lift: -1;
        bottom: var(--offset);
        [data-sonner-toast] {
            bottom: 0;
        }
    }
    &[data-position*='left'] {
        left: var(--offset);
        [data-sonner-toast] {
            left: 0;
        }
    }
    &[data-position*='right'] {
        right: var(--offset);
        [data-sonner-toast] {
            right: 0;
        }
    }
    &[data-position*='center'] {
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// close-button
[data-sonner-toast] [data-close-button='true'] {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transform: translate(-35%, -35%);
    z-index: 1;
    transition:
        opacity 100ms,
        background 200ms,
        border-color 200ms;
    cursor: pointer;
    border: 1px solid var(--gray4);
    border-radius: 50%;
    background: var(--normal-bg);
    padding: 0;
    width: 20px;
    height: 20px;
    color: var(--gray12);
    &:hover {
        border-color: var(--gray5);
        background: var(--gray2);
    }
}

[data-sonner-toast] [data-close-button='false'] {
    display: none;
}
