[data-soner-toaster] {
    --width: 356px;

    position: fixed;
    z-index: 999999;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: var(--width);
    color: black;
    list-style: none;
    user-select: none;

    // expand
    &[data-expand='false'] {
        [data-sonner-toast]:not(:last-child) {
            transform: scale(calc(1 - var(--index) * 0.05)) translateY(calc(var(--lift) * var(--gap) * var(--index)));
        }
        [data-sonner-toast]:not(:last-child) {
            height: var(--front-height);
            &[data-state='deleting'] {
                transform: scale(calc(1 - var(--index) * 0.05));
            }
            & > * {
                opacity: 0;
                transition: opacity 0.4s;
            }
        }
    }
}

[data-sonner-toast] {
    display: flex;
    position: absolute;
    align-items: center;
    transform: translateY(calc(var(--lift) * var(--offset, 0px)));
    opacity: var(--opacity);
    transition:
        transform 0.4s,
        opacity 0.2s,
        height 0.4s;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid hsl(0, 0%, 93%);
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    width: var(--width);

    &:after {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: calc(var(--gap) + 1px);
        content: '';
    }

    [data-icon] {
        display: flex;
        margin-right: 7px;
    }

    [data-content] {
        [data-title] {
            color: #222;
            font-weight: 500;
            font-size: 14px;
        }
        [data-description] {
            margin-top: 5px;
            color: #888;
            font-size: 12px;
        }
    }
}

// position
[data-soner-toaster] {
    &[data-position*='top'] {
        --lift: 1;
        top: var(--offset);
        [data-sonner-toast] {
            top: 0;
        }
    }
    &[data-position*='bottom'] {
        --lift: -1;
        bottom: var(--offset);
        [data-sonner-toast] {
            bottom: 0;
        }
    }
    &[data-position*='left'] {
        left: var(--offset);
        [data-sonner-toast] {
            left: 0;
        }
    }
    &[data-position*='right'] {
        right: var(--offset);
        [data-sonner-toast] {
            right: 0;
        }
    }
    &[data-position*='center'] {
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
